rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Administrador/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Administrador/{parent}/dadospessoais01/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/dadospessoais01/{document} {
      allow read: if true;
    }


    match /Organizacaomilitar/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
